* {
    box-sizing: border-box;
}

body {
    background-color: #444;
    font-family: 'Ubuntu', 'Roboto', 'Arial';
}

section {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
}

#stack > div {
    background-color: #F1F1F1;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

#stack > div.bloomchat-history {
    background-color: cyan;
    border: 2px dashed rgba(0, 0, 0, 0.3);
}

#stack > div.bloomchat-user {
    background-color: cyan;
}

#talk {
    display: flex;
}

textarea {
    display: block;
    width: 100%;
    height: 40px;
    min-height: 60px;
    border-radius: 5px 0 0 5px;
    font-family: inherit;
    font-size: inherit;
    outline: 0;
    padding: 10px;
    resize: vertical;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0 5px 5px 0;
    color: #FFF;
    font-family: inherit;
    font-size: 0.8em;
    padding: 20px;
    outline: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}